html,
body,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Microsoft Yahei", "Arail", "sans-seri";
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.glasses-system {
  width: 60%;
  height: 60%;
  border: 6px solid #F5DD92;
  margin: 6% auto;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 10px #666666;
}
.glasses-system .preview {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  background-color: #666666;
  overflow: hidden;
  position: absolute;
}

.glasses-system .preview .preview-pic {
  height: 96%;
  width: 96%;
  display: block;
  margin: 2% auto;
}

.glasses-system .btns {
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 3;
}
.glasses-system .btns .btn {
  display: inline-block;
  color: #fff;
  width: 8rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 5px;
  background-color: #97B1D0;
  transition: all 0.15s ease-out;
  box-shadow: -1px -1px 2px 1px #333333 inset;
  cursor: pointer;
}
.glasses-system .btns .btn:hover {
  background-color: #A4CEEC;
  color: #eee;
}
.glasses-system .btns .btn +.btn {
  margin-left: 15px;
}
.glasses-system .goods {
  width: 50%;
  height: 100%;
  background-color: #eeeeee;
  float: right;
  position: relative;
  overflow: hidden;
}
.glasses-system .goods .goods-list {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: left 0.8s ease-in-out;
}
.glasses {
  display: inline-block;
  width: 135px;
  height: 60px;
  background-color: #fff;
  margin: 8px 4px 4px 4px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}
.glasses:hover {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}
.glasses_1 {
  background-image: url("../imgs/glasses_1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_2 {
  background-image: url("../imgs/glasses_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_3 {
  background-image: url("../imgs/glasses_3.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_4 {
  background-image: url("../imgs/glasses_4.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_5 {
  background-image: url("../imgs/glasses_5.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_6 {
  background-image: url("../imgs/glasses_6.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_7 {
  background-image: url("../imgs/glasses_7.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_8 {
  background-image: url("../imgs/glasses_8.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_9 {
  background-image: url("../imgs/glasses_9.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_10 {
  background-image: url("../imgs/glasses_10.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_11 {
  background-image: url("../imgs/glasses_11.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_12 {
  background-image: url("../imgs/glasses_12.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_13 {
  background-image: url("../imgs/glasses_13.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_14 {
  background-image: url("../imgs/glasses_14.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.glasses_15 {
  background-image: url("../imgs/glasses_15.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.adjustment {
  width: 160px;
  height: 75px;
  cursor: move;
  resize: both;
  overflow: auto;
}
